.chapter {
  background-color: #555;
  margin: 0.25rem;
  padding: 1rem;
  max-width: 100%;
  border-radius: 12px;
  color: white;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.chapter:hover {
  background-color: #777;
}

.chapter__title {
  margin: 0;
  font-weight: bold;
}

.chapter__pos {
  margin: 0;
}

.leaflet-container {
  width: 10wh; 
  height: 30vh;
}
